VITE_SEMSE_MOBILE_PORT=4174
VITE_SEMSE_API_BASE_URL=http://127.0.0.1:4122
VITE_SEMSE_BFF_BASE_URL=http://127.0.0.1:3000/api/semse
VITE_SEMSE_RUNTIME_MODE=bff
VITE_SEMSE_ALLOW_MOCK_FALLBACK=true
VITE_SEMSE_ENABLE_AGENTIC=true
VITE_SEMSE_ENABLE_MEMORY=true
VITE_SEMSE_ENABLE_RAG=true
VITE_SEMSE_ENABLE_TELEMETRY=true
